<div class="container-fruid">
    <p><%= notice %></p>
    <h1>投稿画像一覧</h1>
    <p><%= link_to "画像を投稿する", new_picture_path, class: 'btn btn-default' %></p>
    <div class="row">
      <% @pictures.each do |picture| %>
        <div class="picture_table col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1">
          <div class="picture_table_top">
            <p><%= profile_img(picture.user)%>
            <strong><%= picture.user.name %></strong>
            </p>
          </div>
            <%= image_tag(picture.picture) if picture.picture.present? %>
          <div class="picture_table_bottom">
            <p>
              <% if user_signed_in? && current_user.id == picture.user.id %>
              <%= link_to "編集", edit_picture_path(picture.id), class: 'btn btn-default btn-sm btn-success' %>
              <%= link_to "削除", picture_path(picture.id), method: :delete, data: {confirm: '本当に削除していいですか？'}, class: 'btn btn-default btn-sm btn-danger' %>
              <% end %>
            </p>
          <p><strong>コメント：<%= picture.comment %></strong></p>
          </div>
        </div>
      <% end %>
    </div>
</div>
